<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
  <parameter name="username" value="testuser_1"/>
  <parameter name="password" value="testuser_2"/>
    <classes>
      <class name="sample.NewTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
